.profile {
  background-image: linear-gradient(#8a0000, black);
  color: #ffffff;
  padding: 0px 0px 20px 0px;
  border-radius: 5px;
  width: 40%;
  margin: 30px;
}

.banner img {
  width: 99%;
  padding: 0.5% 0.5% 0.5%;
  border-radius: 5px 5px 0 0;
}

.avatar img {
  margin-left: 5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -80px;
  border: 10px solid transparent;
}

.info {
  margin: 3% 3% 3% 3%;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);;
}

.info h1 {
  font-size: 20px;
  margin-bottom: 5px;
  opacity:100%;
}

.info p {
  font-size: 12px;
  margin: 5px 0;
}

.info a {
  color: #7289da;
  text-decoration: none;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.pronoun {
  color: #b9bbbe;
}

.aboutme {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
.button{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #8a0000;
  border-color: transparent;
  border-radius: 5px;
  width: 95%;
  padding: 7px;
}
#grandimage{
  width: 25%;
}
#rpc p{
  font-size: 16px;
}
#rpc{
  margin: -18% 0% 10% 30%;
}