.profile {
  background-image: linear-gradient(#8a0000, black);
  color: #ffffff;
  padding: 0px 0px 20px 0px;
  border-radius: 5px;
  width: 30%;
  margin: 30px;
}

.banner img {
  width: 99%;
  padding: 0.5% 0.5% 0.5%;
  border-radius: 5px 5px 0 0;
}

.avatar img {
  margin-left: 1%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: -120px;
  border: 10px solid transparent;
}

.info {
  margin: 1% 3% 3% 3%;
  padding: 10px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.6);;
}

.info h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.info p {
  font-size: 14px;
  margin: 5px 0;
}

.info a {
  color: #7289da;
  text-decoration: none;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.status {
  font-size: 14px;
}

.pronoun {
  color: #b9bbbe;
  font-size: 14px;
}

.aboutme {
  font-size: 14px;
  margin-bottom: 6px;
}
.h2 {
  margin-top: 12px;
  font-size: 12px;
  margin-bottom: 6px;
}
.h3 {
  margin-top: 12px;
  font-size: 12px;
  margin-bottom: 8px;
}
.button{
  margin-top: 10px;
  background-color: #8a0000;
  border-color: transparent;
  border-radius: 5px;
  width: 95%;
  padding: 6px 6px 8px 8px;
}
#grandimage{
  width: 17%;
}
#rpc p{
  font-size: 14px;
}
#rpc{
  margin: -18% 0% 2% 20%;
}